
.task-board-container {
    /* max-width: 500px; */
    /* margin: 10px; */
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f8f5cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-board-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.task-board-label {
    font-size: 24px;
    font-weight: bold;
    color: #700e0e;
}
.task-sort-select {
    /* margin-top: 10px; */
    padding: 8px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.task-sort-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
    outline: none;
}

.task-board-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.task-date-filter {
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
}

.task-search-input {
    padding: 8px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.task-search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
    outline: none;
}

.task-tag-filter {
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.task-board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.no-task {
    text-align: center;
    font-size: 16px;
    color: #888888;
    font-style: italic;
    padding: 20px 0;
}

