.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    color: var(--color-text-light);
    font-weight: bold;
}

.logout-btn {
    background-color: #ff4d4d;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #e60000;
}
